 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">FreeHRM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
       <!-- <a class="nav-item nav-link disabled" href="#">  Welcome, {{ user.username }} </a>
      <a class="nav-item nav-link" href="{% url 'settings_main' %}">Settings</a>
      <a class="nav-item nav-link" href="{% url 'main' %}">Employee Management</a>
             <form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
  </form> -->
    </div>
  </div>
</nav>