        <div id="sidebar_prash" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark prashsidebar" style="margin-right:20px">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">FreeHRM Enterprise</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0 ">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-raised-hand"></i> <span class="ms-1 d-none d-sm-inline">Employee Management</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                  <a href="{% url 'main' %}" class="nav-link px-0 smallmenuitem"><span class="d-none d-sm-inline"> Dashboard</span>  </a>
                            </li>
                             {% if perms.employee_management.location_view %}
                            <li>
                                <a href="{% url 'locations_list' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Locations</span></a>
                            </li>
                            {% endif %}
                            {% if perms.employee_management.employeefile_view %}
                            <li>
                                <a href="{% url 'employeefile_list_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Employees</span></a>
                            </li>
                            {% endif %}


                        </ul>
                    </li>
                    <!--<li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li> -->
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-gear-wide"></i> <span class="ms-1 d-none d-sm-inline">Settings</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="{% url 'settings_main' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Dashboard</span></a>
                            </li>
                            {% if perms.settings.payrollgroup_view %}
                            <li>
                                <a href="{% url 'payrollgroup_list' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Payroll Groups</span></a>
                            </li>
                            {% endif %}
                            {% if perms.settings.workingcalendar_view %}
                            <li>
                                <a href="{% url 'workingcalendar_list_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Working Calendars</span></a>
                            </li>
                            {% endif %}

                            {% if perms.settings.department_view %}
                            <li>
                                <a href="{% url 'department_list_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Departments</span></a>
                            </li>
                            {% endif %}

                            {% if perms.settings.companycontact_view %}
                            <li>
                                <a href="{% url 'companycontact_list_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Company Contacts</span></a>
                            </li>
                            {% endif %}

                            {% if perms.settings.companybankaccount_view %}
                            <li>
                                <a href="{% url 'companybankaccount_list_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Company Bank Accounts</span></a>
                            </li>
                            {% endif %}

                              {% if perms.settings.paymentelement_view %}
                            <li>
                                <a href="{% url 'paymentelement_list_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Payment Elements</span></a>
                            </li>
                            {% endif %}

                              {% if perms.settings.companytimesheets_view %}
                            <li>
                                <a href="{% url 'edit_company_timesheets_settings_url' %}" class="nav-link px-0 smallmenuitem"> <span class="d-none d-sm-inline">Company Timesheet Settings</span></a>
                            </li>
                            {% endif %}



                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="profilepic" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ user.username }} </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log Out</button>
                            </form></a></li>
                    </ul>
                </div>
            </div>
        </div>